.card {
    cursor: pointer;
    transition: 0.2s;
}
.card-text {
    font-size: 13px;
}

.img{
    height: 180px;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.card-title {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card:hover {
    border-radius: 0px;
    color: white;
    background-color: black;
}